.weather-widget * {
  box-sizing: border-box;
}

.weather-widget button,
.weather-widget input,
.weather-widget textarea {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
}

.weather-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-widget img {
  display: block;
  max-width: 100%;
}
